# Environment files
.env
takizip/taki/database/.env

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Uploads (ignore files, keep folder)
takizip/taki/backend/uploads/reclamations/*
!takizip/taki/backend/uploads/reclamations/.gitkeep
